*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*, *::after, ::before{
    box-sizing: inherit;
}
body{
    font-size: 16px;
    font-family: 'Inter', serif;
}

/* header */
.header{
    background-color: rgb(131, 131, 131);
}
.menu{
    
    padding: 10px 0;
}
.menu-list{
    display: flex;
    justify-content: center;
}
.gross{

    display: flex;
    gap: 80px;
    
}
li{
    list-style-type: none;
}
a{
    display: block;
    text-decoration: none;
    font-weight: 700;
    color: white;
    margin-top: 15px;
    font-size: 40px;
}
.menu-link2{
    color: red;
}
.menu-burger{
    display: none;
    margin-top: 20px;
}
.line{
    width: 40px;
    margin-bottom: 10px;
    
}


@media(max-width:1000px){
    a{
        font-size: 30px;
    }
    .gross{
        gap: 20px;
    }     
}
@media(max-width:600px){
    .gross{
        display: none;
    }
    .menu-burger{
        display: block;
    }
    .menu-list{
        display: flex;
        justify-content: space-evenly;
    }
    .data{
        display: none;
    }
}