body{
    background-color: rgb(207, 163, 163);
}
.wrapper{
    font-size: 40px;
}
.box{
    display: flex;
    justify-content: center;
    gap: 100px;
}
.box1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    width: 100px;
    height: 100px;
    background-color: red;
    
    
}
.box2{
    width: 100px;
    height: 100px;
    background-color: rgb(0, 187, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}
.box3{
    width: 100px;
    height: 100px;
    background-color: rgb(0, 255, 76);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}
.box4{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 204, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}